@font-face {
    font-family: arabic-font;
    src: url(/assetes/fonts/Utmani.woff2);
}

@font-face {
    font-family: english-font;
    src: url(/assetes/fonts/ProximaVara.woff2);
}


body{
    font-family: english-font ,sans-serif;
}

.light {
    background-color: #f4f5f6;
    color: #1e1f26;
}

.dark {
    color: #f4f5f6;
    background-color: #1e1f26;
}

.rust {
    background-color: hsl(60, 9%, 87%);
    color: #1e1f26;
}

.faq_header{
    margin-top: 4.9rem;
}
.faq_header-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.question-body {
    font-size: 1.3em;
    margin: 1rem 10rem;
}

.faq__body {
    min-width: 70%;
}
.faq__panel{
    max-width: inherit;
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 7px;
}
.faq__label{
    padding-block: 7px;
    cursor: pointer;
}
.faq__panel-answer{
    margin: 10px 0;
    margin-left: 15px;
    padding-bottom: 4px;
    line-height: 1.5em;
}

.arabic {
    font-family: arabic-font;
}

.english {
    font-family: english-font ,sans-serif;
}



@media (max-width: 768px) {
    .question-body {
        font-size: 1.2em;
        margin: 1rem 1rem;
    }

    .faq__body {
        min-width: 90%;
    }

    .faq__panel-answer {
        margin: 9px 0;
        margin-left: 15px;
        line-height: 1.5em;
    }
}
