<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nahw Day 1</title>
    
    <link rel="stylesheet" href="/helper/style.css">
    <link rel="stylesheet" href="/helper/table.css">
    <link rel="stylesheet" href="/helper/nav.css">
    <script src="/helper/main.js" defer></script>
    
</head>
<body>
    <div id="nav_div"></div>

    <header class="faq_header">
        <h2 class="faq_header-title">Dream NAHW Notes Day n</h2>
    </header>

    <div class="question-body">
        <div class="faq__body">
            <details aria-expanded="false" class="faq__panel">
                <summary class="faq__label">This is a template <span class="arabic">قَالِب</span></summary>
                <div class="faq__panel-body">
                    <p class="faq__panel-answer">This is some rand  text..?</p>
                    <p class="faq__panel-answer">some more text in a new p!</p>
                    <p class="faq__panel-answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum error maxime labore, quam dolor soluta iste officia exercitationem ipsum commodi doloremque illum, blanditiis, fugiat reprehenderit. Nobis alias temporibus aperiam tempora. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni hic, inventore nam sunt laboriosam autem repellendus? Vitae neque eligendi corrupti a ex ut saepe, dolorem temporibus culpa quod veniam accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. At ratione voluptatibus in, rem voluptatum, id quaerat quos dolorem autem saepe suscipit corporis officiis quibusdam delectus nisi sit perspiciatis placeat quidem!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate magnam. Adipisci voluptatum accusantium sit minima ipsa consequatur ut, quo eum soluta iusto repellat illo repudiandae ducimus? Eaque, voluptas a.</p>

                    <p class="faq__panel-answer">A table of random things</p>
                    <ul class="table arabic">
                        <ul class="td">
                          <li>عسم</li>
                          <li>سسس</li>
                          <li>بسيب</li>
                        </ul>
                        <ul>
                          <li>سبسب</li>
                          <li>سب</li>
                          <li>بسبس</li>
                        </ul>
                        <ul>
                          <li>بسب</li>
                          <li>بسب</li>
                          <li>سبس</li>
                        </ul>
                      </ul>
                    <p class="faq__panel-answer">Some more text after the table</p>

                </div>
            </details>
        </div>
    </div>

</body>
</html>
